/* monitors and laptops */
@media screen and (min-width: 1240px)  {
    .header .header_container {
        width: 1200px;
        margin: 0 auto;
        display: flex;
    }

    .container {
        /*box-shadow: 0 0 5px 2px darkgrey;*/
        width: 1200px;
        margin: 0 auto;
        min-height: 100%;
        background-color: white;
    }
    .footer_container{
        width: 1200px;
        margin: 0 auto;
        padding-top: 45px;
        color:white;
        text-align: center;
    }
}

/* tablet */
@media screen and (min-width: 1024px) and (max-width: 1240px)  {
    .header .header_container {
        width: 1000px;
        margin: 0 auto;
        display: flex;
    }

    .container {
        /*box-shadow: 0 0 5px 2px darkgrey;*/
        width: 1000px;
        margin: 0 auto;
        min-height: 100%;
        background-color: white;
    }
    .footer_container{
        width: 1000px;
        margin: 0 auto;
        padding-top: 45px;
        color:white;
        text-align: center;

    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .header .header_container {
        width: 90%;
        margin: 0 auto;
        display: flex;
    }

    .container {
        /*box-shadow: 0 0 5px 2px darkgrey;*/
        width: 90%;
        margin: 0 auto;
        min-height: 90%;
        background-color: white;
    }
    .footer_container{
        width: 90%;
        margin: 0 auto;
        padding-top: 45px;
        color:white;
        text-align: center;

    }
}

/* mobile */
@media screen and (max-width: 768px) {
    .header .header_container {
        width: 90%;
        margin: 0 auto;
        display: flex;
    }

    .container {
        /*box-shadow: 0 0 5px 2px darkgrey;*/
        width: 90%;
        margin: 0 auto;
        min-height: 90%;
        background-color: white;
    }
    .footer_container{
        width: 90%;
        margin: 0 auto;
        padding-top: 45px;
        color:white;
        text-align: center;

    }
}

.header {
    width: 100%;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    margin-bottom: 35px;
}

.header .logo {
    font-family: cursive;
    background-color: #eb212e;
    color: white;
    font-size: 40px;
    font-weight: 300;
    padding: 10px;

}

.header .info_header {
    margin:  10px 10px 0 10px;
    width: 100%;

}

.header .info_header .support {
    text-align: right;
}


.main-menu{
    color:grey;
    text-decoration: none;
    margin: 10px;
}
.selected-menu{
    color: #eb212e;
    text-decoration: none;
    margin: 10px;
}
.footer{
    width: 100%;
    background-color: #896E69;
    height: 100px;
}


/*body {*/
/*    background-color: #eff3f6;*/
/*}*/